ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.9;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    color: cornsilk;
    text-align: center;
    font-size:25px;
    text-decoration: none;
}

li a:link {
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: cornsilk;
}

.card {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content {
    font-size: 25px;
}

.card-button {
    font-size: 30px;
}

.intro {
    position: absolute;
    width:20rem;
    top: 11.5%;
    left: 37%;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: serif;
}

.container {
    position: absolute;
    left: 8.2%;
    top: 28%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 224px 224px;
    grid-row-gap: 10px;
    grid-column-gap: 26px;
    justify-content: center;
}

.color-link {
    grid-column: span 1;
    height: 15rem;
    width: 15rem;
    font-size: 30px;
    font-weight: bold;
    font-family: serif;
    justify-content: center;
    color: cornsilk;
    opacity: .8;
    border: none;
}

.color-link:link {
    line-height: 14rem;
    text-decoration: none;
    text-align: center;
}

.color-link:hover {
    color:#333;
}

.red {
    background-color: indianred;
}

.green {
    background-color: teal;
}

.yellow {
    background-color: peru;
}

.blue {
    background-color: steelblue;
}